# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
data/jpgFullIJCNN2013/
checkpoint/
core/__pycache__/
data/log/
models/
data/detection/
mAP/
docs/images/Rec0003.mp4
docs/images/save.mp4
checkpoint/checkpoint
